<div class="fieldset">
    {{#each items}}
    <label>
        <input class="floor_btn" value="{{this.floor_uuid}}" type="radio" name="radio" checked/>
        <span>{{this.floor_number}}</span>
    </label>
    {{/each}}
</div>
